.login-hero-section {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.login-hero-section .shadow-container {
  position: absolute;
  bottom: 0;
  
}

.login-hero-section img {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.login-form-section {
  padding: 50px 0;

}

.login-form-section-header h2 {
  font-size: 30px;
  font-weight: 400;
  color: #016ab9;
}

.chute-login-cpt {
  max-width: 600px;
  margin: auto;
}

@media screen and (max-width: 1199px) {
  .login-hero-section {
    height: 350px;
  }
}

@media screen and (max-width: 991px) {
  .login-hero-section {
    height: 300px;
  }
}

@media screen and (max-width: 767px) {
  .login-hero-section {
    height: 250px;
  }
}


@media screen and (max-width: 576px) {
  .login-hero-section {
    height: 100%;
  }
}
